.Header {
    position: relative;
    top:-80px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.671);
    border-bottom: 1px solid rgba(214, 214, 214, 0.753);
    font-size: 1.1em;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0px 200px; */
}
.header_right, .header_left{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    display: inline-block;
    padding: 20px 40px 0 200px;
    width:50%;
    /* padding-top: 40px; */
}
.header_right:hover{
    background-color: rgba(255, 255, 255, 0.171);
}
.header_left:hover{
    background-color: rgba(255, 255, 255, 0.171);
}

.Header:hover {
    animation: down 1s forwards;

}

@keyframes down {
    from {
      top: -70px; 
    }
    to {
      top: 0px;
    }
}
@media only screen and (max-width: 1080px){
    /* font-size: .9em; */
    .Header{
        color:red;
    }
}